@import "./base/base";
@import "abstract/typography";
@import "abstract/reusables";
@import "component/button/grdButtons";
@import "component/button/neomorphicButtons";
@import "component/button/normalButtons";
@import "page/home";
@import "vendor/ting";
@import "component/icons/battery";
@import "component/icons/watch";
@import "component/icons/briefcase";
@import "component/icons/suitcase";
@import "component/icons/bulb";
@import "animations/iconanimations/icon";
@import "component/load/loading";
@import "component/load/circle-loading";
@import "component/load/synccircle";
@import "component/uiComponents/checkbox";
@import "component/uiComponents/radio";
.bg{
  background-color: #86ddf3!important;
}
.center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  height: 100vh;
  background-color: #9bf8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99;

}
 .hidden{
  animation: fadeout 10s ;
  animation-fill-mode: forwards;
}
body{
  position: relative;
}
@keyframes fadeout {
   100%{
     opacity: 0;
     visibility: hidden;
   }
}