.menu-tri{
  position: relative;
  i{
    cursor: pointer;
    content: "";
    position: absolute;
    left: 0;
    width: 3rem;
    height: 5px;
    background-color:currentColor;
    border-radius: 50rem;
    top: 0;
    &:before{
      cursor: pointer;
      content: "";
      position: absolute;
      left: 0;
      width: 3rem;
      height: 5px;
      background-color: currentColor;
      border-radius: 50rem;
      top: -1rem;
    }
    &:after{
      content: "";
      position: absolute;
      left: 0;
      width: 3rem;
      height: 5px;
      background-color: currentColor;
      border-radius: 50rem;
      top: 1rem;
      cursor: pointer;
    }
  }
}

